body, html {
    height: 100%;
}
img {
  max-width:100%;
  max-height:100%;
  margin:auto;
  display:block;
}
.logo img{
  max-width: 120px;
}

.main-title {
  margin-top:0;
  text-align:center;
  font-size: 48px;
  letter-spacing: 2.1px;
  font-family: "Open Sans";
  font-weight: 600;
  font-style: normal;
  padding: 4vw 0 0 0;
}
.main-description {
  text-align:center;
  font-size: 24px;
  letter-spacing: 2.1px;
  font-family: "Open Sans";
  padding: 1vw 5vw;
  line-height: 37px;
}

.mdl-layout__header--scroll .mdl-layout__header-row {
  background: #AFAD6E;
  box-shadow: 1px 5px 10px rgba(0,0,0,0.5);
}

.mdl-layout.has-scrolling-header .mdl-layout__content {
    padding: 0 1vw;
}
.mdl-layout__content {
    height:100%;
}

.content .mdl-layout {
    position:static;
}